<header>
  <div class="container">
    <div class="header-content">
        <h1><span>{{ displayedText }}</span></h1>
    </div>
      <!--
      <div class="contact-info">
        <span><i class="material-icons">location_on</i> Lugano, Switzerland</span>
        <span><i class="material-icons">email</i> ballarinihi&#64;gmail.com</span>
        <span><i class="material-icons">phone</i> +41 772 240 154</span>
        <a href="URL_LINKEDIN" target="_blank"><i class="material-icons">linkedin</i> LinkedIn Profile</a>
      </div>
      -->
    <div class="button-bar">
      <app-button (clicked)="onButtonClicked($event)" value="experience" label="Experience" icon="work" type="button"></app-button>
      <app-button (clicked)="onButtonClicked($event)" value="skills" label="Skills" icon="build" type="button"></app-button>
      <app-button (clicked)="onButtonClicked($event)" value="education" label="Education" icon="school" type="button"></app-button>
      <app-button (clicked)="onButtonClicked($event)" value="language" label="Languages" icon="language" type="button"></app-button>
      <app-button value="setting" label="" icon="settings" type="button"></app-button>
    </div>
  </div>
</header>
