<section>  
    <div class="languages-container">
        <div class="language-badge">            
            <img src="https://flagcdn.com/16x12/es.png" class="flag-img">
            <span class="language-name">Spanish</span>
            <span class="language-level native">Native</span>
        </div>

        <div class="language-badge">
            <img src="https://flagcdn.com/16x12/us.png" class="flag-img">
            <span class="language-name">English</span>
            <span class="language-level advanced">Advanced</span>
        </div>

        <div class="language-badge">
            <img src="https://flagcdn.com/16x12/it.png" class="flag-img">
            <span class="language-name">Italian</span>
            <span class="language-level basic">Basic</span>
        </div>
    </div>
</section>