<app-header (sectionChange)="onSectionChange($event)"></app-header>

<section class="about-me">
  <img src="assets/profile_background_picture.png" alt="Your Name" class="about-photo" />
  <div class="about-text">
    <h1>Hi, I'm Fernando Ballarini</h1>
    <p>
      As a senior software engineer with over a decade of experience in backend development (C#
      .NET, Azure, CI/CD, microservices, Docker, Kubernetes), I’m driven by the challenge of
      crafting clean, scalable systems that genuinely improve users’ lives. What energizes me
      most, though, is working in teams where curiosity, ownership, and a pursuit of excellence
      are part of the culture.
      (version {{ appVersion }})
    </p>
  </div>
</section>

<section class="about-me">
  <div class="about-text">
    <p>
      In parallel with my engineering work, I’ve also contributed as a Business Intelligence
      developer—designing and maintaining data pipelines, creating KPIs, and delivering dashboards
      that inform strategic decisions. I’ve worked closely with stakeholders to translate business
      questions into meaningful metrics, ensuring the data not only tells a story but drives action.
      This analytical foundation has deepened my technical decisions as a developer and strengthened
      my ability to build systems aligned with real-world impact.
    </p>
  </div>
  <img src="assets/data_analysis.png" alt="Your Name" class="about-photo" />
</section>

<section class="about-me">
  <img src="assets/full-stack-picture.png" alt="Your Name" class="about-photo" />
  <div class="about-text">
    <p>
     While my core strength is backend and infrastructure, I bring a full-stack perspective through
     hands-on experience with Angular and Vue.js. I’ve partnered closely with UX and product
     teams to create data-rich dashboards and intuitive tools, always striving to understand not
     just what we’re building, but why. That mindset has allowed me to influence everything from
     architecture and process improvements to the user experience.
    </p>
  </div>
</section>

<app-modal [show]="showExperienceModal" (close)="showExperienceModal = false" headerTitle="Professional Experience">
  <app-experience></app-experience>
</app-modal>
<app-modal [show]="showSkillsModal" (close)="showSkillsModal = false" headerTitle="Skills">
  <app-skills></app-skills>
</app-modal>
<app-modal [show]="showEducationModal" (close)="showEducationModal = false" headerTitle="Education">
  <app-education></app-education>
</app-modal>
<app-modal [show]="showLanguagesModal" (close)="showLanguagesModal = false" headerTitle="Languages">
  <h2>Languages</h2>
  <p>Details about your languages go here...</p>
</app-modal>

<section class="footer" style="align-content: center; justify-content: center; display: flex; flex-direction: row;">
  version {{ appVersion }}
</section>
<router-outlet />


