<div class="experience-item">
  <div class="job-header">
    <span class="job-title-company">{{ jobTitle }} <span class="job-company">– {{ company }}</span></span>
    <span class="job-dates">({{ dates }})</span>
  </div>
  <div class="technologies">
    <ng-container *ngFor="let tech of technologies; let isLast = last">
      <ng-container *ngIf="getTechnologyImage(tech) as imageUrl; else techText">
        <img [src]="imageUrl" [alt]="tech + ' logo'" class="tech-icon" [title]="tech" />
      </ng-container>

      <ng-template #techText>
        <span class="tech-tag">{{ tech }}</span>
      </ng-template>
    </ng-container>
  </div>
  <ul class="responsibilities">
    <li *ngFor="let responsibility of responsibilities">{{ responsibility }}</li>
  </ul>
</div>
