main {
  color: #f0f0f0; /* Light gray text */
  background: rgba(66, 64, 64, 1); /* Or use rgba(34,34,34,0.7) for a semi-transparent dark background */
  padding: 1rem;
  border-radius: 15px;
}
